<h2>My Profile</h2>



<h1><%= @user.username %></h1>




<div class="navhome">
<nav>
	<ul>
		<li><%= link_to "Edit Accout",edit_user_path(@user) %></li>
		<li><%= link_to	"All Post", posts_path %></li>
		<li>%= link_to "Log Out", logout_path, method: :delete %></li>
		<li><%= link_to 'Delete Account', user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></li>
	</ul>
</nav>






